SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
SPOTIFY_REDIRECT_URI="http://127.0.0.1:3000/this_is_where_my_spotify_redirects"
VITE_TWITCH_CLIENT_ID=""
VITE_TWITCH_CLIENT_SECRET=""
VITE_TWITCH_OAUTH=""
VITE_NICK="bot_name"
VITE_DEFAULT_CHANNEL=""